/* Main container styling */
.subblogpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  padding: 40px;
}

.subimg{
  height: 60vh;
  
}

/* Card styling */
.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
  width: 80%; /* Increased width */
  max-width: 1200px; /* Set a maximum width */
  padding: 40px;
  color: #333;
  animation: fadeIn 0.8s ease-in-out;
}

/* Typography */
.post-title {
  flex: 1; /* Makes title take up remaining space */
  font-size: 3.9rem;
  font-weight: bold;
  text-align: left;
}

.post-description {
  font-size: 1.5rem;
  font-weight: 700; /* Bold description */
  color: #444;
  margin-bottom: 20px;
}

.post-date {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.post-content {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #222;
}

/* Paragraph styling */
.post-paragraph {
  margin-bottom: 20px;
  white-space: pre-line;
}

/* Error and loading text */
.loading-text,
.error-text {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
.title-image-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between title and image */
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
