/* Main container for the contact form */
.contact-form-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  /* Text above the contact form */
  .contact-intro {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-intro h2 {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-intro p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px;
  }
  
  /* Box for the form */
  .contact-form-box {
    background-color: #1c1c1c; /* Dark background for the form box */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    width: 70%; /* Form box width set to 70% of the screen */
    max-width: 800px;
  }
  
  /* Form heading */
  .contact-form-heading {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  /* Form structure */
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    color: #ccc;
    font-size: 16px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #444;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  textarea.form-input {
    resize: vertical;
  }
  
  /* Error message */
  .error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Submit button */
  .submit-button {
    background-color: gray;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: rgb(49, 48, 48);
  }
  
  /* Success or failure message */
  .submit-status {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .submit-status.success {
    background-color: #28a745;
    color: white;
  }
  
  .submit-status.error {
    background-color: #dc3545;
    color: white;
  }
  