/* @import url('https://fonts.googleapis.com/css?family=Inconsolata:700'); */
.img{
    transition: all 0.3s;
}
.img:hover{
    transform: scale(1.15);
}
.crd{
    transition: all 0.3s;
}
.crd:hover{
    transform: scale(1.08);
}
.clr{
    color: red;
    
}

.search-bar-container {
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

.search-bar-container.show {
    width: 200px; /* Adjust this width as per your design */
    opacity: 1;
}
